:root {
    --font-family: 'Nanum Gothic', sans-serif;
    --white-color: #fff;
    --dark-gray-color:#555;
}
html, body{
    margin: 0%;
}
body{
    padding: 1%;
    font-family:var(--font-family);
    background-color: var(--white-color);
  }
  
  
  main{
    background-color:var(--dark-gray-color);
    padding:2%;
    border-radius:3px;
    color:var(--white-color);
    text-align:center;
  }/*
  p, h1, figcaption{
    text-align:center;
  }*/
  img{
    max-width:100%;
    display:block;
    height:auto;
    margin-left:auto;margin-right:auto
  }
  figure{
    background-color:#fff;
    border-radius:5px;
  }
  figcaption{
    text-align:center;
  }
  ul{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  li{
    margin-top:2%;
    margin-bottom:2%;
  }
  #tribute-link-paragh{
    margin-top:10%;
  }
  