:root {
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    --font-family: 'Nanum Gothic', sans-serif;
    --white-color: #fff;
    --dark-gray-color:#555;
}
html, body{
    margin: 0%;
}
body{
    padding: 1%;
    font-family:var(--font-family);
    background-color: var(--white-color);
  }
  img{
    max-width:100%;
    display:block;
    height:auto;
    margin-left:auto;margin-right:auto
  }
  p, h1, figcaption{
    text-align:center;
  }
  main{
    background-color:var(--dark-gray-color);
    padding:10px;
    border-radius:3px;
    color:var(--white-color);
  }
  figure{
    background-color:#fff;
    border-radius:5px;
  }
  figcaption{
    text-align:center;
  }
  ul{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  li{
    margin-top:2%;
    margin-bottom:2%;
  }
  #tribute-link-paragh{
    margin-top:10%;
  }
  